*{

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

body {

    font-family: Arial, Helvetica, sans-serif;

}

.debug {

    background-color: red;

}

/* header */

header {

    display: flex;

    align-items: center;

    justify-content: space-between;

    background-color: #080B12;

    width: 100%;

    min-height: 4.5rem;

}

.logo {

    width: 14rem;

    height: 100%;

    background-color: black;

}

.img-logo {

    max-width: 90%;

    margin-left: 10px;

    padding: 20px;

}

.upgrade {

    color: white;

    border-radius: 50px;

    border: 2px solid white;

    padding: 10px;

    margin-right: 10px;

}

.upgrade a {

    text-decoration: none;

    color: white;

}
/* fine header */
/* main section */


main {

    display: flex;

    flex-direction: row;

    justify-content: flex-start;

    background-color: #141922;

}
/* aside bar */
.aside-left {

    display: flex;

    align-self: flex-start;

    flex-direction: column;

    background-color: black;

    color: white;

    width: 14rem;

    min-height: 78rem;

}

.aside-left span {

    display: block;

    margin-top: 10px;

    font-weight: bold;

}

.aside-left span i {

    margin-right: 10px;

}

.aside-left span a {

    text-decoration: none;

    color: white;

}

.playlist h3{

    margin-top: 15px;

}

.playlist > ul > li {

    text-decoration: none;

    margin-top: 20px;

    color: grey;

    font-weight: bold;

} 

.playlist div {

    display: inline-block;

    padding: 0 5px;

    background-color: #A3A3A3;

    font-weight: bold;

    font-size: 50px;

}

div.crea {

    margin-right: 10px;

}

div.finale-aside-bar {

    margin-top: 40rem;

}

div.finale-aside-bar span {

    margin: 15px;

}

div.div-riga {

    border: 1px solid gray;

    margin-left: 15px;

    height: 2px;

    width: 75%;

}
/* aside bar */
/* container */
.container {

    display: flex;

    flex-direction: flex-start;

    flex-direction: column;

}

.up-containers {

    margin: 0 auto;

    margin-top: 20px;

    margin-bottom: 30px;

    margin-right: 220px;

    display: flex;

    gap: 25px;

}

.up-containers a {

    display: flex;

    flex-wrap: wrap;

    gap: 10px;

    font-size: large;

    font-weight: bold;

    text-decoration: none;

    color: grey;

    justify-content: space-between;

}



.row {

    display: flex;

    flex-direction: column;

    margin-left: 2.5rem;

    margin-top: 4.5rem;

}

.row h2 {

    margin-bottom: 2rem;

    color: white;

}

.col {

    display: flex;

    align-self: flex-start;

    gap: 20px;

}

.card {

    min-width: 200px;

    min-height: 200px;

    flex-direction: column;

    text-align: center;

}

img.img-container {

    width: 200px;

    height: 200px;

}

.under-card {

    color: white;

    font-weight: bold;

    margin-bottom: 10px;

    margin-top: 10px;

    text-align: center;

}

.under-card-subtitle {

    color: grey;

    font-weight: bold;

}
/* fine main */
/* footer */

footer {

    background-color: #282828;

    min-height: 5.5rem;

}

